.results {
  padding: 8px 24px 8px 24px;
  color: var(--ds-blue-400);
}

.refinement {
  display: flex;
  align-items: center;
}

.toogle-refinement {
  margin-right: 24px;
}

/* Shows the number of Hits per each faced attribute */
.ais-RefinementList-count {
  display: none;
}

.toogle-refinement > .ais-RefinementList-list {
  display: flex;
}

.toogle-refinement > .ais-RefinementList-list li {
  margin-right: 24px;
  color: var(--ds-blue-400);
}

/*
For more RefinementList component CSS classes check
https://www.algolia.com/doc/api-reference/widgets/refinement-list/react-hooks/#widget-param-classnames
*/

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  color: currentColor;
  width: 14px;
  height: 14px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  margin: 0 4px 0 0;
  padding: 0;
}

input[type="checkbox"]:checked {
  background-color: var(--ds-blue-400);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

